{% assign feed_path = "/feed.xml" %}
{% if site.feed and site.feed.path %}
  {% assign feed_path = site.feed.path %}
{% endif %}

<a href="mailto:grv@mathscapes.xyz"><i class="far fa-envelope"></i></a> ∙
<a href="https://github.com/mathscapes/DecodeVector"><i class="fab fa-github"></i></a> ∙
<a href="https://facebook.com/mathscapes"><i class="fab fa-facebook"></i></a> ∙
<a href="https://instagram.com/mathscapesco"><i class="fab fa-instagram"></i></i></a> ∙
<a href="https://medium.com/mathscapes"><i class="fab fa-medium-m"></i></a> ∙
<a href="https://twitter.com/mathscapesco"><i class="fab fa-twitter"></i></a>
<br>
{{ site.author }}.  Ver.0.1-{{ site.time | date: '%d%m%y' }}
