---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Bitter, "Apple SD Gothic Neo", AppleGothic, NanumBarunGothic, "Malgun Gothic", Dotum, sans-serif;
$monospace-font-family: Monaco, Menlo, Consolas, "Courier New", DotumChe, monospace;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff;
$brand-color:      #2568ba;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// whiteglass also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from the `whiteglass` theme.
@import "whiteglass";

.site-header{
    background-color: #b71c1c  ;
    width:100%;
    position:fixed;
    z-index: 100;
    opacity: 0.9;
}

.post-header{
    margin-top:100px;
}
.home{
    margin-top:50px;
}
.site-title, .site-title:visited{
    color: white;
}
.site-nav .page-link{
    color: #fff;
}

.level-7 a, .level-7 a:visited{
    color: #f44336;
}

.level-6 a, .level-6 a:visited{
    color: #FFC107;
}

.level-5 a, .level-5 a:visited{
    color: #8BC34A;
}

.level-4 a, .level-4 a:visited{
    color: #009688;
}

.level-3 a, .level-3 a:visited{
    color: #2196F3;
}

.level-2 a, .level-2 a:visited{
    color: #9C27B0;
}

.level-1 a, .level-1 a:visited{
    color: black;
}

.level-0 a, .level-0 a:visited{
    color: grey;
}

h1{
    color: #b71c1c;
}

h1, .page-heading{
    color: #b71c1c;
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1;
}

.page-content h4{
    color: #85929e;
}

.post-title{
    font-weight: 900;
}

a,a:visited{
    color:#00BCD4;
}

.site-footer a, .site-footer a:visited{
    color:black;
}
