---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'IBM Plex Sans', sans-serif;
$heading-font: 'IBM Plex Sans';
$monospace-font-family: 'IBM Plex Mono', Monaco, Menlo, Consolas, "Courier New", DotumChe, monospace;
$body-font-family: 'IBM Plex Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$heading-font-weight: 600;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #FFF;
$brand-color:      #546E7A;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;



// whiteglass also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from the `whiteglass` theme.
@import "whiteglass";

.site-header{
    background-color:$brand-color;
    //#E8F5E9 ;
    width:100%;
    position:fixed;
    z-index: 100;
    opacity: 1;
    // -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    // -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    // box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
}

.post-header{
    margin-top:100px;
}
.home{
    margin-top:50px;
}
.site-title, .site-title:visited{
    color: #fff;
    font-weight: $base-font-weight;
}
.site-nav{
    //line-height: 50px;
}
.site-nav .page-link{
    color: #fff;
    font-size: 14px;
    opacity: 1;
    //text-transform: uppercase;
    //letter-spacing: 1px;
}

a.level-7,a.level-7:visited{
    color: #F44336;
}

a.level-6,a.level-6:visited{
    color: #FFC107;
}

a.level-5,a.level-5:visited{
    color: #8BC34A;
}

a.level-4,a.level-4:visited{
    color: #009688;
}

a.level-3,a.level-3:visited{
    color: #2196F3;
}

a.level-2,a.level-2:visited{
    color: #9C27B0;
}

a.level-1,a.level-1:visited{
    color: black;
}

a.level-0,a.level-0:visited{
    color: grey;
}

h1{
    color: black;
    //font-family: $base-font-family;
    font-family: $heading-font;
    font-weight: $heading-font-weight;
}

h1.page-heading{
    color: black;
    font-family: $heading-font;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 1;
    //font-weight: $base-font-weight;
    font-weight: $heading-font-weight;
}

.page-content h4{
    color: #85929e;
    font-size: 22px;
}

.post-title{
    font-size:48px;
}

a,a:visited{
    color:$brand-color;
}

.site-footer a, .site-footer a:visited{
    color:black;
}

.site-footer a:hover, .site-footer a:hover{
    color:$brand-color;
}
blockquote{
    padding: 30px;
    background-color: #F5F5F5;
    border-left:none;
    font-style:normal;
    letter-spacing: 0px;
    color: $grey-color;
    font-weight: $base-font-weight;
    margin-top:30px;
    margin-bottom:30px;
    font-family: $base-font-family;
    font-size: $base-font-size;
}

hr{
    margin:30px 0;
    height:2px;
    background-color: $grey-color-light;
}
.post-link{
    font-family: $heading-font;
    font-size: 22px;
    font-weight: 400;
    padding-top: 10px;
}
h2{
    font-family: $heading-font;
    font-weight: 400;
    padding-top: 10px;
}
h3, h4, h5, h6{
    font-weight:$base-font-weight;
}

body{
    font-family: $body-font-family;
    font-weight:$base-font-weight;
}

a.button,a.button:visited{
    background-color:$brand-color ;
    color:#fff;
    margin:10px 0;
    padding:10px 30px;

}
a.secondary,a.secondary:visited{
    background-color:$grey-color-light;
    color:#000;
    margin:10px 0;
    padding:10px 30px;
}
a.secondary:hover{
    text-decoration: none;
    color:#000;
    background-color:darken($grey-color-light,10%) ;
}
a.button:hover{
    text-decoration: none;
    color:#fff;
    background-color:darken($brand-color,10%) ;
}
.site-footer{
    font-size: $base-font-size;
}
#search-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size:16px;
    font-family: $body-font-family;
}
table.post-archives tr{
    vertical-align:top;
}
.post-date, .post-author{
    color: $brand-color;
    font-size: 16px;
}
.post-title2{
    color: #000;
    font-size: 16px;
}
